@model ProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient py-3">
    <div class="row">
        <div class="row pb-4">
            <h2 class="text-primary">
                @(Model.Product.Id != 0 ? "Update" : "Create") Product
            </h2>
        </div>
    </div>
    </div>
    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden /> @*to get the value of Id and hidding it*@
            <input asp-for="Product.ImageUrl" hidden />
            <div class="row">
                <div class="col-10">
                    <div asp-validation-summary="All"></div> <!--Error Summary printed on top-->
                    <div class="mb-3 row p-1">
                        <label asp-for="Product.Title" class="p-0"></label>
                        <input asp-for="Product.Title" class="form-control" /> <!--No need to add type="text" bec the tag helper knows that Name contains string-->
                        <span asp-validation-for="Product.Title" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="Product.Description" class="text-muted p-0"></label>
                        <textarea asp-for="Product.Description" class="p-0"></textarea> <!--No need to put text in the label since we are using tag helper-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="Product.ISBN" class="p-0"></label> <!--No need to put text in the label since we are using tag helper-->
                        <input asp-for="Product.ISBN" class="form-control" />
                        <span asp-validation-for="Product.ISBN" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="Product.Author" class="p-0"></label> <!--No need to put text in the label since we are using tag helper-->
                        <input asp-for="Product.Author" class="form-control" />
                        <span asp-validation-for="Product.Author" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="Product.ListPrice" class="p-0"></label> <!--No need to put text in the label since we are using tag helper-->
                        <input asp-for="Product.ListPrice" class="form-control" />
                        <span asp-validation-for="Product.ListPrice" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="Product.Price" class="p-0"></label> <!--No need to put text in the label since we are using tag helper-->
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="Product.Price50" class="p-0"></label> <!--No need to put text in the label since we are using tag helper-->
                        <input asp-for="Product.Price50" class="form-control" />
                        <span asp-validation-for="Product.Price50" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="Product.Price100" class="p-0"></label> <!--No need to put text in the label since we are using tag helper-->
                        <input asp-for="Product.Price100" class="form-control" />
                        <span asp-validation-for="Product.Price100" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label class="p-0">Category</label>
                        <select asp-for="Product.CategoryID" asp-items="@Model.CategoryList" class="form-control">
                            <option disabled selected>--Select Category--</option>
                        </select> <!--No need to put text in the label since we are using tag helper-->
                        <span asp-validation-for="Product.CategoryID" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="Product.ImageUrl" class="p-0"></label>
                        <input type="file" name="file" id="file" class="form-control"></input> <!--No need to put text in the label since we are using tag helper-->
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            @if (Model.Product.Id != 0)
                            {
                                <button type="submit" class="btn btn-outline-primary form-control">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary form-control">Create</button>
                            }
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%"
                         style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts{
    @{
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ]
            });
        </script>


        <partial name="_ValidationScriptsPartial" />
        /*_ValidationScriptsPartial file under Shared folder is a script file for client side validation. name should be match in order to work, tag helper "partial" by default it will look for shared folder */

    }
}