@model Category

<form method="post">
    <input asp-for="Id" hidden/> @*so that the Id will be populated and avoid any kids of error*@
    <div class="border p-3 mt-4">
        <div class="row pb-4">
            <h2 class="text-primary">
                Delete Category
            </h2>
        </div>
        <div asp-validation-summary="All"></div> <!--Error Summary printed on top-->
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" disabled class="form-control" /> <!--No need to add type="text" bec the tag helper knows that Name contains string-->
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="DisplayOrder" class="p-0"></label> <!--No need to put text in the label since we are using tag helper-->
            <input asp-for="DisplayOrder" disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>