@model Company

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="row pb-4">
                <h2 class="text-primary">
                    @(Model.CompanyId != 0 ? "Update" : "Create") Company
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="CompanyId" hidden /> @*to get the value of Id and hidding it*@
            <div class="row">
                <div class="col-10">
                    <div asp-validation-summary="All"></div> <!--Error Summary printed on top-->
                    <div class="mb-3 row p-1">
                        <label asp-for="Name" class="p-0"></label>
                        <input asp-for="Name" class="form-control" /> <!--No need to add type="text" bec the tag helper knows that Name contains string-->
                        <span asp-validation-for="Name" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="StreetAddress" class="p-0"></label>
                        <input asp-for="StreetAddress" class="form-control" /> <!--No need to add type="text" bec the tag helper knows that Name contains string-->
                        <span asp-validation-for="StreetAddress" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="City" class="p-0"></label>
                        <input asp-for="City" class="form-control" /> <!--No need to add type="text" bec the tag helper knows that Name contains string-->
                        <span asp-validation-for="City" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="State" class="p-0"></label>
                        <input asp-for="State" class="form-control" /> <!--No need to add type="text" bec the tag helper knows that Name contains string-->
                        <span asp-validation-for="State" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="Postal" class="p-0"></label>
                        <input asp-for="Postal" class="form-control" /> <!--No need to add type="text" bec the tag helper knows that Name contains string-->
                        <span asp-validation-for="Postal" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="mb-3 row p-1">
                        <label asp-for="PhoneNumber" class="p-0"></label>
                        <input asp-for="PhoneNumber" class="form-control" /> <!--No need to add type="text" bec the tag helper knows that Name contains string-->
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span> <!--Error Message-->
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            @if (Model.CompanyId != 0)
                            {
                                <button type="submit" class="btn btn-outline-primary form-control">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary form-control">Create</button>
                            }
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Company" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
